$default: #222222;
$highlight: #ff7f23;
$back: white;

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  cursor: pointer;

  &__svg {
    margin: 13px;
    border-style: none;
    border: #222222;
    border: 1px;
    background-color: $back;
  }

  &__page {
    color: $default;
    font-size: 16px;
    padding: 13px;
    background-color: $back;
    border: none;
    outline: none;
    cursor: pointer;

    &--active {
      color: $highlight;
    }
  }
}
