@use "src/utils/styles/mediaQuery.scss" as media;

$highlight: #ff7f23;

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
  }
}

.inner-container {
  width: 860px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  width: 168px;
  height: 100%;
  margin-right: 122px;

  &__link {
    display: block;
    margin-bottom: 32px;
    background-color: transparent;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: $highlight;
    cursor: pointer;
  }

  &__explain {
    width: 100%;
  }
}
