@use "src/utils/styles/mediaQuery" as media;

button {
  background: none;
  border: none;
  cursor: pointer;
}

.shop {
  &__container {
    width: 100vw;
    min-width: 1196px;
    position: relative;
    overflow-x: hidden;
  }

  &__empty-image {
    margin-left: max(calc((100vw - 1080px) / 2), 68px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1131px;
    height: 416px;
    background-color: #eeeeee;
    gap: 10px;
    font-size: 14px;
  }

  &__image-carousel {
    padding-left: max(calc((100vw - 1080px) / 2), 68px);
    max-width: 100vw;
    width: 100vw;
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-start;
    overflow-x: visible;
    align-items: center;
    transition: all 0.4s ease;

    & > li {
      width: fit-content;
      list-style: none;
    }

    img {
      width: 360px;
      height: 400px;
    }
  }

  &__back-drop {
    &__left {
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      top: 0;
      position: absolute;
      background: #000;
      opacity: 0.7;
      width: calc((100vw - 1080px) / 2);
      min-width: 68px;
      height: 400px;
    }

    &__right {
      right: 0;
      display: flex;
      align-items: center;
      top: 0;
      position: absolute;
      background: #000;
      opacity: 0.7;
      width: calc((100vw - 1080px) / 2);
      min-width: 68px;
      height: 400px;
    }
  }
}

.pin {
  &__container {
    width: 480px;
    position: relative;
    margin-top: 15px;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
      margin: 0;
    }
  }

  &__empty-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 310px;
    background-color: #eeeeee;
    gap: 10px;
    font-size: 11px;

    @include media.media-breakpoint-down(mobile) {
      width: 573px;
    }
  }

  &__image-carousel {
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-start;
    overflow-x: visible;
    align-items: center;
    transition: all 0.4s ease;

    & > li {
      text-align: center;
      list-style: none;
      width: fit-content;
    }

    img {
      object-fit: contain;
      width: 480px;
      height: 310px;

      @include media.media-breakpoint-down(mobile) {
        width: 573px;
      }
    }
  }

  &__back-drop {
    &__left {
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      top: 0;
      position: absolute;
      background: #000;
      opacity: 0.7;
      width: 30px;
      height: 310px;

      svg {
        width: 80%;
      }
    }

    &__right {
      right: 0;
      display: flex;
      align-items: center;
      top: 0;
      position: absolute;
      background: #000;
      opacity: 0.7;
      width: 30px;
      height: 310px;

      svg {
        width: 80%;
      }
    }
  }
}
