@use "src/utils/styles/mediaQuery";

.top-navigation {
  width: 100%;
  height: 80px;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  align-items: center;
  font-size: 18px;

  &__logo {
    display: flex;
  }

  &__logo-link {
    margin-left: 72px;
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    text-decoration: none;
  }

  &__address {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    svg {
      width: 24px;
      height: 24px;

      path {
        stroke: #222222;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
    margin-right: 72px;
    list-style: none;
    opacity: 0.8;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
