.container {
  position: relative;
  top: 140px;
  left: 700px;
  display: flex;
  width: 617px;
  height: 749px;
  flex-direction: column;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  background-color: #ffffffcc;
  z-index: 3;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: flex;
    color: #ff7f23;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.94px;
    margin: 68px auto 12px;
  }

  &__subTitle {
    display: flex;
    font-size: 16px;
    line-height: 19.97px;
    font-weight: 400;
  }
}

.search {
  display: flex;
  align-items: baseline;
  margin-left: 40px;

  &__box {
    display: flex;
    width: 426px;
    height: 46px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 15px 1px #0000001a;
    border: none;
    margin-top: 48px;
  }

  &__image {
    display: flex;
    margin: auto 20px;
  }

  &__text {
    display: flex;
    border: none;
    width: 350px;
    font-size: 18px;
    font-weight: 500;
  }

  &__button {
    display: flex;
    border: none;
    background-color: #ff7f23;
    color: white;
    border-radius: 100px;
    width: 72px;
    height: 46px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    margin-left: 39px;
    box-shadow: 5px 5px 15px 1px #0000001a;
  }
}

.location {
  display: flex;
  border: none;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 32px;
  border-bottom: 1px solid #c4c4c4;
  width: 510px;
  padding: 10px;
  cursor: pointer;

  &__active {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 3px 25px 3px 10px;

    &:hover {
      display: flex;
      background-color: #eeeeee;
    }
  }

  &__image {
    display: flex;
    margin: 8px;
    margin-left: 17px;
  }
}
