.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.overay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 35%);
  height: 100vh;
  width: 100vw;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 230px;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 0.5px;

  &__title {
    color: #ff7f23;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__content {
    text-align: center;
    font-size: 14px;
  }

  &__button {
    border: none;
    border-radius: 20px;
    background-color: #ff7f23;
    text-align: center;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
  }

  &__close {
    position: absolute;
    right: 25px;
    top: 20px;
    color: #c4c4c4;
  }
}
