@use "src/utils/styles/mediaQuery" as media;

$default: #222222;
$active: #ff7f23;
$passive: #c4c4c4;

@mixin template {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-title($margin-bottom) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: $margin-bottom;

  @include media.media-breakpoint-down(mobile) {
    font-weight: 500;
    font-size: 14px;
  }
}

@mixin font-medium {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 368px;
  height: 44px;
  background: $active;
  border: none;
  appearance: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  box-shadow: 2px 3px 12px 1px rgba(0 0 0 / 10%);
  margin-top: 50px;

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
  }
}
