$active: #ff7f23;
$disabled: #c4c4c4;

.toggle {
  &__label {
    position: relative;
    display: inline-block;
    width: 27px; // 토글 너비
    height: 13.5px; // 토글 높이
    background-color: $disabled; // 토글 비활성화 배경색
    border-radius: 6.75px;
    transition: background-color 0.2s;

    &--active {
      background-color: $active; // 토글 활성화 배경색
    }
  }

  &__input {
    opacity: 0; // 실제 체크박스 보이지 않도록
    width: 0;
    height: 0;
    position: absolute;
  }

  &__circle {
    position: absolute;
    top: 50%; // 상단 여백
    left: 1px; // 좌측 여백
    transform: translate(0, -50%);
    width: 11.25px; // 원형 토글 너비
    height: 11.25px; // 원형 토글 높이
    background-color: white; // 원형 토글 색상
    border-radius: 50%; // 원형 모양 설정
    transition: transform 0.2s; // 이동 애니메이션

    &--active {
      transform: translate(13.5px, -50%); // 토글 활성화 시 움직일 거리 설정
    }
  }
}
