@use "src/utils/styles/mediaQuery" as media;

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    width: 91%;
    margin: 0 auto;
  }
}

.user {
  width: 308px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    width: 230px;
    justify-content: start;
  }

  &__image {
    width: 112px;
    height: 112px;

    @include media.media-breakpoint-down(mobile) {
      width: 46px;
      height: 46px;
    }
  }

  &__nickname {
    display: block;
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 400;

    @include media.media-breakpoint-down(mobile) {
      display: inline;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
    }
  }

  &__account {
    display: block;
    font-size: 25px;
    font-weight: 300;

    @include media.media-breakpoint-down(mobile) {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.totals {
  width: 174px;
  display: flex;
  justify-content: space-between;

  &__post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--number {
      font-size: 40px;
      font-weight: 500;
    }

    &--label {
      font-size: 24px;
      font-weight: 400;
    }
  }

  &__follower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--number {
      font-size: 40px;
      font-weight: 500;

      @include media.media-breakpoint-down(mobile) {
        font-size: 14px;
        font-weight: 500;
      }
    }

    &--label {
      font-size: 24px;
      font-weight: 400;
    }
  }
}

.dot {
  display: inline-block;
  width: 0;
  height: 0;
  border: 1px solid black;
  border-radius: 100;
  margin: 5px;
}

.option {
  width: 24px;
  height: 24px;
}

.profile {
  all: unset;
  display: flex;
  overflow: hidden;
  position: relative;
  outline: none;
  border-radius: 50%;
  margin-right: 16px;

  &:hover {
    filter: brightness(50%);
  }

  @include media.media-breakpoint-down(mobile) {
    &:hover {
      filter: none;
    }
  }
}

.change--image {
  position: absolute;
  top: 25%;
  left: 25%;
}
