input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form__input {
  display: flex;
  justify-content: center;
}

.form__input--block {
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border: none;
  border-radius: 8px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.resend {
  margin-top: 10px;
  color: #ff7f23;
  cursor: pointer;
}

.inactive {
  border: none;
  border-radius: 100px;
  width: 250px;
  height: 40px;
  color: white;
  background-color: #c4c4c4;
  position: absolute;
  bottom: 200px;

  @media screen and (max-height: 700px) {
    bottom: 50px;
  }
}

.active {
  border: none;
  border-radius: 100px;
  width: 250px;
  height: 40px;
  color: white;
  background-color: #ff7f23;
  position: absolute;
  bottom: 200px;

  @media screen and (max-height: 700px) {
    bottom: 50px;
  }

  cursor: pointer;
}
