.container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  gap: 5px;
}

.info {
  display: flex;
  align-items: flex-end;

  &__name {
    font-weight: 700;
    font-size: 28px;
  }

  &__category {
    font-size: 14px;
    color: #666666;
  }

  &__scrap-button {
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    color: #666666;

    svg {
      width: 26px;
      height: 32px;
    }
  }

  &__rate {
    display: flex;
  }
}
