// label태그
.signup-profileImg-label {
  margin: 5px 0 20px;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}

.image-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.imageButton {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  z-index: 2;
  background-color: white;
  width: 48px;
  height: 48px;
  align-items: center;
  border-radius: 50px;
  box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 10%);
}

.input {
  display: none;
}

.image-container {
  width: calc(100% - 40px);
  display: flex;
  height: 80px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 9px;
  }

  &__button {
    width: 18px;
    height: 18px;
    margin: 8px;
    border: solid 5px;
    border-color: #ff7f23;
    border-radius: 50%;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 50%);
  }

  &__image {
    display: flex;
    width: 80px;
    height: 80px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}
