@use "src/utils/styles/mediaQuery" as media;

.container {
  display: flex;
  width: 320px;
  margin: 14px 16px;
  white-space: nowrap;
  overflow-x: scroll;

  &__item {
    display: flex;
    margin: 0 2px;
    position: relative;
  }

  &__button {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 62px;
    border: solid 5px;
    border-color: #ff7f23;
    border-radius: 50%;
    background-color: transparent;
    z-index: 2;
  }

  &__image {
    display: flex;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

.editor {
  line-height: 15px;
  height: 650px;
  width: 1950px;
  font-size: 16px;
  color: #222222;
  z-index: 1;

  @include media.media-breakpoint-down(mobile){
    width: 355px;
    height: 340px;
  }

  &--withImage {
    line-height: 15px;
    height: 600px;
    width: 1950px;
    font-size: 16px;
    color: #222222;
    z-index: 1;

    @include media.media-breakpoint-down(mobile){
      width: 355px;
      height: 260px;
  }
  }
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

.addImage-button {
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: white;
  width: 48px;
  height: 48px;
  align-items: center;
  border-radius: 50px;
  box-shadow: 2px 3px 12px 1px rgb(0 0 0 / 10%);
  position: relative;
  right: 35px;
  bottom: 55px;
}

.input {
  display: none;
}
