.container {
  position: absolute;
  bottom: 8vh;
  left: calc((100vw - 90vw) / 2);
}

.modal {
  width: 90vw;
  height: 12vh;
  background-color: #222222;
  opacity: 0.8;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;

  &__content {
    width: 70%;
    opacity: 1;
  }

  &__close {
    color: #ff7f23;
    opacity: 1;
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    cursor: pointer;
    width: 30%;
  }
}
