@use "src/utils/styles/mediaQuery" as media;

.template {
  height: calc(100vh - 81px);
  width: 550px;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  background-color: #ffffff;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #c4c4c4;
  }

  &::-webkit-scrollbar-track {
    background-color: #eeeeee;
  }
}

.container {
  height: 100%;
  width: 550px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;

  &__write {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 157px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 10%);
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &--icon {
      margin-right: 8px;
    }
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 550px;
  height: 362px;
  background-color: #eeeeee;

  &__left {
    position: absolute;
    width: 50px;
    height: 100%;
    z-index: 999;
    border: none;
    background-color: transparent;
    color:#ffffff;

    &:hover {
      transition: 0.3s;
      background-color: rgba(0, 0, 0, 10%);
    }
  }

    &__right {
    position: absolute;
    width: 50px;
    height: 100%;
    z-index: 999;
    border: none;
    right:0;
    background-color: transparent;
    color:#ffffff;

        &:hover {
      transition: 0.3s;
      background-color: rgba(0, 0, 0, 10%);
    }

  }

  &__container {
    position: absolute;
    display: flex;    
    top: 0;
    left: 0;
    height:100%;
    transition: 0.5s;

    &--photo {
      width: 550px;
      height: 500px;
    }
  }

  &__index {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;    
    bottom: 22px;
    z-index: 999;

    &--dot {
      width: 8px;
      margin-right: 3px;
      height: 8px;
      background-color: #ffffff;
      opacity: 0.8;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &--active {
        background-color: #ff7f23;
      }
    }
  }
}

.shop {
  display: flex;
  height: 90px;
  flex-direction: column;
  position: relative;
  padding: 16px;

  &__title {
    display: flex;
    align-items: flex-end;
    
    &--name {
      font-size: 28px;
      font-weight: 700;
    }

    &--category {
      margin-left: 8px;
      font-size: 14px;
      font-weight: 400;
      color: #666666;
    }
  }

  &__detail {
    display: flex;
    margin-top: 4px;
    color: #666666;
    position: sticky;
    top:0;

    &--rate {
      display: flex;
      align-items: center;
      margin-right: 2px;
      font-size: 16px;
      font-weight: 500;
    }

    &--latest {
      font-weight: 400;
    }
  }

  &__bookmark {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    right: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.comment {
  width: 100%;
  max-height: calc(100% - 116px);
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
  }

  &__mode {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 2px 3px 12px -4px rgba(0, 0, 0, 0.10);
  }

  &__button {
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #eeeeee;
    color: #222222;
    background-color: #ffffff;
    padding-bottom: 12px;
    cursor: pointer;

    &--active {
      color: #ff7f23;
      border-bottom: 1px solid #ff7f23;
    }
  }

  &__list {
    margin: 0 16px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    &--switch {
      display: flex;
      margin-bottom: 16px;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: #666666;
      border: none;
      background-color: #ffffff;
      cursor: pointer;
      margin-top: 16px;
      z-index: 999
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    border-bottom: 0.5px solid #eeeeee;

    &--profile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: 1px solid #eeeeee;
      border-radius: 50px;
      background-color: #ffffff;
      overflow: hidden;
    }
  }
  
  &__info {
    width: 100%;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    
    &--nickname {
      font-size: 18px;
      font-weight: 700;
      margin-right: 5px;
      color: #222222;
    }
    
    &--id {
      font-size: 14px;
      font-weight: 400;
      color: #666666;
    }

    &--content {
      font-size: 18px;
      font-weight: 400;
      color: #222222;
    }

    &--evaluation {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      color: #666666;
      margin: 10px 0;
    }
  }

  &__report {
    position: absolute;
    right: 16px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    color: #c4c4c4;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }

}

.disabled{
  opacity: 0;
}