$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;

.block {
  &__title {
    font-size: 16px;
    max-height: 39px;
    margin: 0 0 8px;
    padding: 0;
    word-break: break-all;
  }
}
