@use "src/utils/styles/mediaQuery.scss" as media;

.search {
  width: 100%;
  font-size: 32px;
  position: relative;

  @include media.media-breakpoint-up(mobile) {
    max-width: 767px;
    margin: 0 auto;
  }
}

.search-related-list {
  position: absolute;
  width: 890px;
  overflow: scroll;
  padding-top: 24px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 2px 3px 12px 1px rgba(0 0 0 / 10%);
  padding-bottom: 15px;
  top: -40px;
  left: 15px;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    text-decoration-line: none;
    color: black;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    height: 48px;
    padding-left: 52px;
    padding-right: 57.14px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #eeeeee;
      border-radius: 24px;
      color: #ff7f23;
    }

    @include media.media-breakpoint-down(mobile) {
      max-width: 343px;
    }
  }

  &__title {
    display: flex;
  }

  &__icon {
    display: flex;
    margin-right: 16px;
  }

  &__autoController {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 25px;
    align-items: center;
  }

  &__autoButtonTitle {
    display: flex;
    font-size: 20px;
    color: #ff7f23;
    padding: 24px 40px 18px 13px;

    &.active {
      color: #c4c4c4;
    }
  }

  &__toggleButton {
    display: flex;
    padding-top: 8px;
  }

  &__text--not-found {
    word-break: keep-all;
    width: 275px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 164px;
  }

  &--hidden {
    display: none;
  }
}
