.container {
  position: absolute;
  width: calc(100% - 90px);

  // right: 0;
  height: 100vh;
  pointer-events: none;
  z-index: 1;

  & > * {
    pointer-events: auto;
  }
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(34 34 34 / 30%);
  backdrop-filter: blur(2px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 533px;
  height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  background-color: rgba(255 255 255 / 90%);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: flex;
    color: #ff7f23;
    font-size: 25px;
    font-weight: 700;
    margin: 68px auto 12px;
  }

  &__subtitle {
    display: flex;
    font-size: 15px;
    font-weight: 400;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: baseline;

  &__box {
    display: flex;
    width: 370px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 15px 1px #0000001a;
    border: none;
    margin-top: 48px;
  }

  &__icon {
    display: flex;
    margin: auto 17px;
  }

  &__text {
    display: flex;
    border: none;
    width: 350px;
    color: #666666;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }

  &__button {
    display: flex;
    border: none;
    background-color: #ff7f23;
    color: white;
    width: 63px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    margin-left: 28px;
    box-shadow: 5px 5px 15px 1px #0000001a;
  }
}

.location {
  display: flex;
  justify-content: start;
  align-items: center;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  margin-top: 7px;
  width: 480px;
  height: 59px;
  font-size: 16px;
  font-weight: 400;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    width: 180px;
    height: 40px;
    border-radius: 20px;

    &:hover {
      display: flex;
      background-color: #eeeeee;
    }
  }

  &__icon {
    margin-right: 7px;
  }
}
