@use "src/utils/styles/mediaQuery.scss" as media;

.template {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;

  @include media.media-breakpoint-down(mobile) {
    padding-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.top {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-left: 3%;
  margin-bottom: 50px;

  @include media.media-breakpoint-down(mobile) {
    position: sticky;
    height: 80px;
    top: 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
  }

  &__prev {
    display: none;

    @include media.media-breakpoint-down(mobile) {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 80vw;
      margin-bottom: 12px;
    }
  }

  &__search {
    width: 100%;
    height: 64px;
    background-color: #eeeeee;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 16px;

    @include media.media-breakpoint-down(mobile) {
      width: 85vw;
      height: 48px;
      background-color: #ffffff;
      box-shadow: 2px 3px 12px 1px #eeeeee;
      padding-left: 3vw;
      padding-right: 3vw;
    }

    &--input {
      width: 720px;
      height: 64px;
      border-radius: 100px;
      background-color: #eeeeee;
      border: none;
      font-size: 24px;
      outline: none;

      @include media.media-breakpoint-down(mobile) {
        width: 85vw;
        height: 48px;
        background-color: #ffffff;
        font-size: 16px;
      }
    }

    &--img {
      width: 30px;
      height: 30px;

      @include media.media-breakpoint-down(mobile) {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  height: 100vh;

  @include media.media-breakpoint-down(mobile) {
    width: 100vw;
  }
}
