@use "src/utils/styles/mediaQuery.scss" as media;

.template {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  height: 100vh;
  width: 100vw;
  padding-top: 60px;
  box-sizing: border-box;

  @include media.media-breakpoint-down(mobile) {
    padding-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  width: 100%;
  height: 100%;
}

.top {
  display: flex;
  justify-content: center;
  width: 100%;

  @include media.media-breakpoint-down(mobile) {
    position: sticky;
    height: 80px;
    top: 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__prev {
    display: none;

    @include media.media-breakpoint-down(mobile) {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 80vw;
      margin-bottom: 12px;
    }
  }

  &__search {
    width: 726px;
    height: 36px;
    background-color: #eeeeee;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 10px;

    @include media.media-breakpoint-down(mobile) {
      width: 80vw;
      background-color: #ffffff;
      box-shadow: 2px 3px 12px 1px #eeeeee;
    }

    &--input {
      width: 720px;
      height: 36px;
      border-radius: 100px;
      background-color: #eeeeee;
      border: none;
      font-size: 18px;
      outline: none;

      @include media.media-breakpoint-down(mobile) {
        background-color: #ffffff;
      }
    }

    &--img {
      width: 15px;
      height: 15px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1207px;
  height: 100vh;

  @include media.media-breakpoint-down(mobile) {
    width: 100vw;
  }
}
