.ToggleButton {
  width: 40px;
  height: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  background-color: #fff1e8;

  &.active {
    background-color: whitesmoke;
  }
}

.circle {
  background-color: #f6bf54;
  width: 21px;
  height: 21px;
  border-radius: 50px;
  position: absolute;
  left: 5%;
  transition: all 0.2s ease-in-out;

  .ToggleButton.active & {
    transform: translate(20px, 0);
    transition: all 0.2s ease-in-out;
    background-color: gainsboro;
  }
}
