@use "src/utils/styles/mediaQuery" as media;

.container {
  position: relative;
  width: calc(100vw - 100px);
  height: 100vh;

  @include media.media-breakpoint-down(mobile) {
    margin: 0;
  }
}

.map-component {
  position: absolute;
  margin: 0 auto;
}

.modal-component {
  position: absolute;
}
