.link {
  background-color: #eeeeee;
  width: 380px;
  height: 30px;
  border-radius: 100px;
  position: absolute;
  top: 15px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 12px;
  padding-right: 14px;

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #c4c4c4;
    font-size: 12px;
    font-weight: 400;
    padding-top: 2px;
  }
}
