@use "src/utils/styles/mediaQuery" as media;

.map-container {
  transform: translateX(0);
  transition: 0.3s ease-in;

  &--expand {
    transform: translateX(200px);
    transition: 0.3s ease-out;

    @include media.media-breakpoint-down(mobile) {
      transform: translateX(0);
      transition: 0.3s ease-in;
    }
  }
}
