.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
}

.search {
  width: 726px;
  height: 36px;
  background-color: #eeeeee;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 17px;
  padding-right: 10px;

  &__input {
    width: 720px;
    height: 36px;
    border-radius: 100px;
    background-color: #eeeeee;
    border: none;
    font-size: 18px;
    outline: none;
  }
}
