.friend {
  width: 1207px;
  padding-bottom: 11px;
  padding-left: 20px;
  border-bottom: 1px solid #eeeeee;
}

.new {
  width: 1207px;
  padding-bottom: 11px;
  padding-left: 20px;
  border-bottom: 1px solid #eeeeee;
}
