.container {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-around;
  height: 32px;
  margin-bottom: 24px;

  &__star {
    height: 25px;
    width: 25px;
    color: #eeeeee;
  }
}
