$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: $highlight;
    font-size: 32px;
    margin: 126px auto 10px;
    font-weight: 700;
  }

  &__sub-title {
    color: $normal;
    font-size: 16px;
    margin: 0 auto 40px;
    font-weight: 400;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1048px;
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  border-top-color: $highlight;
  border-bottom-color: #eeeeee;
  border-top-style: solid;
  border-bottom-style: solid;
}

.box {
  display: grid;
  place-items: center;
  color: $normal;
  grid-template-columns: 200px 400px 150px 150px 150px;
  grid-template-rows: 37px;
}

.footer {
  display: flex;
  margin: 161px auto 169px 436px;

  &__search-button {
    background: $highlight;
    border-radius: 3px;
    border-style: none;
    color: $back;
    font-size: 14px;
    padding: 5px 7px;
    margin-left: 10px;
    cursor: pointer;
  }

  &__search {
    width: 223px;
    height: 27px;
    border-color: #c4c4c4;
    border-radius: 3px;
    color: #c4c4c4;
    padding-left: 7px;
    border: solid;
  }
}
