$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: $highlight;
    font-size: 32px;
    margin: 126px auto 10px;
  }

  &__sub-title {
    color: $normal;
    font-size: 16px;
    margin: 0 auto 40px;
  }
}

.mainline {
  display: flex;
  width: 1048px;
  border-color: $highlight;
  margin-left: auto;
  margin-right: auto;
}

.line {
  display: flex;
  width: 1048px;
  border-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: $normal;
  margin: 10px auto;

  &__number {
    display: flex;
  }

  &__title {
    display: flex;
    margin: auto 336px auto 351px;
  }

  &__date {
    display: flex;
    margin: auto 60px auto 75px;
  }
}

.footer {
  display: flex;
  margin: 161px auto 169px 436px;

  &__search-button {
    background: $highlight;
    border-radius: 3px;
    border-style: none;
    color: $back;
    font-size: 14px;
    padding: 5px 7px;
    margin-left: 10px;
  }

  &__search {
    width: 223px;
    height: 27px;
    border-color: #c4c4c4;
    border-radius: 3px;
    color: #c4c4c4;
    padding-left: 7px;
    border: solid;
  }
}
