.container {
    display: flex;
    flex-direction: column;
}
//===================
.head {
    display: flex;
    flex-direction: row;
    margin: 59px 279px 48px 30px;
    white-space:nowrap;
}
.title__navigation--back {
    display: flex;
    margin-right: 16px;
}
.title__Setting {
    display: flex;
    font-size: 16px;
    font-weight: bold;
}
//===================
.account {
    display: flex;
    white-space:nowrap;
    flex-direction: column;
}
//--------------------
.account-setting {
    display: flex;
    font-size: 14px;
    margin: 0px 290px 16.5px 17px;
    color: #FF7F23;
}
//---------------------
.account-setting__id {
    display: flex;
    flex-direction: row;
    margin: 0px auto 14px 16px;
}

.account-setting__id--change {
    font-size: 16px;
}

.id-id {
    display: flex;
    font-size: 14px;
    color: #FF7F23;
    margin-right: 13px;
    margin-left: 157px;
}

.account-setting__id--move {
    display: flex;
    margin-right: 24px;
}
//--------------------
.account-setting__password {
    display: flex;
    flex-direction: row;
    margin: 0px auto 12.5px 16px;
}

.account-Setting__password--change {
    font-size: 16px;
}

.account-setting__password--move {
    display: flex;
    margin-left: 225px;
    margin-right: 24px;
}
//----------------
.account-setting__password__personal-information{
    display: flex;
    margin: 0px auto 36px 16px;
}
.account-Setting__personal-information--manual {
    font-size: 16px;
    display: flex;
}
.account-setting__password__personal-information--move{
    display: flex;
    margin-left: 195.33px;
    margin-right: 18.33;
}

//=======================
.service-block{
    display: flex;
    flex-direction: column;
    margin: 0px auto 168px 16px;
    
}
.service-title {
    font-size: 14px;
    color: #FF7F23;
    display: flex;
    margin-bottom: 15px;
}
//-----------------------
.service-block__announcement {
    font-size: 16px;
    display: flex;
    margin-bottom: 10px;
}
.service-block__announcement--title {
    font-size: 16px;
    display: flex;
}
.service-block__announcement--title--move{
    display: flex;
    margin-left: 255.33px;
}
//------------------
.service-block__inquiry {
    font-size: 16px;
    display: flex;
    margin-bottom: 10px;
}

.service-block__inquiry--title {
    display: flex;
    font-size: 16px;
}
.service-block__inquiry--move {
    display: flex;
    font-size: 16px;
    margin-left: 255.33px;
}
//--------------------
.service-block__app-version {
    font-size: 16px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
}
.service-block__app-version--title {
    display: flex;
    font-size: 16px;
}

.service-block__app-version--imformation {
    display: flex;
    font-size: 14px;
    margin-left: 159px;
    color: #FF7F23;

}
//=================
.bottom{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    margin: 0px auto 42px 16px;
}

.bottom__log-out{
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;

}

.bottom__delete-account {
    font-size: 14px;
    text-decoration-line: underline;

}
