.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 59px 279px 48px 30px;
  white-space: nowrap;

  &__left-arrow {
    display: flex;
    margin-right: 16px;
  }

  
  &__title {
    display: flex;
    font-size: 16px;
    font-weight: bold;
  }
}

.account {
  display: flex;
  white-space: nowrap;
  flex-direction: column;

  &__sub-title {
    display: flex;
    font-size: 14px;
    margin: 0 290px 16.5px 17px;
    color: #ff7f23;
  }

  &__contents {
    display: flex;
    flex-direction: row;
    margin: 0 auto 14px 16px;
    justify-content: space-between;
    width: 328px;
    height: 20px;
  }

  &__text {
    font-size: 16px;
  }

  &__right-arrow {
    display: flex;
  }
}

.service {
  display: flex;
  white-space: nowrap;
  flex-direction: column;

  &__sub-title {
    display: flex;
    font-size: 14px;
    margin: 0 290px 16.5px 17px;
    color: #ff7f23;
  }

  &__contents {
    display: flex;
    flex-direction: row;
    margin: 0 auto 14px 16px;
    justify-content: space-between;
    width: 328px;
    height: 20px;
  }

  &__announcement {
    display: flex;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.app-version--imformation {
  display: flex;
  font-size: 14px;
  margin-left: 159px;
  color: #ff7f23;
}

.bottom {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  margin-top: 168px;

  &__log-out {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 10px 16px;
  }

  &__delete-account {
    font-size: 14px;
    text-decoration-line: underline;
    margin: 0 auto 42px 16px;
  }
  
}



