@use "./TermsOfService.module.scss" as terms-of-service;
@forward "src/styles/fonts.scss";
@use "src/utils/styles/mediaQuery" as media;

* {
  margin: 0;
}

body {
  min-height: 100vh;
  min-width: 1148px;

  @include media.media-breakpoint-down(mobile) {
    min-width: 320px;
  }
}

.templete {
  @include terms-of-service.template;
}

.form {
  width: 368px;
  height: 648px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    width: 227px;
    height: 500px;
  }

  &__icon {
    margin: 218px 0 24px;

    @include media.media-breakpoint-down(mobile) {
      margin-top: 150px;
    }
  }

  &__text {
    white-space: pre;
    font-family: "SUIT";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    @include media.media-breakpoint-down(mobile) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__input {
    margin-top: 32px;
    width: 216px;
    height: 30px;
    background: #eeeeee;
    border-radius: 20px;
    border: none;
    text-align: center;
    outline: none;

    &::placeholder {
      color: #c4c4c4;
      font-size: 12px;
      font-family: "SUIT";
    }
  }

  &__button {
    @include terms-of-service.button;
  }
}
