@use "src/utils/styles/mediaQuery" as media;
@use "./Mixin.module.scss" as mixin;

body {
  @include media.media-breakpoint-down(mobile) {
    min-width: 320px;
  }
}

.template {
  @include mixin.template;
}

.form {
  width: 368px;
  height: 648px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    width: 227px;
    height: 500px;
    padding-top: 144px;
  }

  &__icon {
    margin: 213px 0 24px;

    @include media.media-breakpoint-down(mobile) {
      margin: 101px 0 11px;
    }
  }

  &__text {
    white-space: pre;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    @include media.media-breakpoint-down(mobile) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__input {
    margin-top: 32px;
    width: 216px;
    height: 30px;
    background: #eeeeee;
    border-radius: 20px;
    border: none;
    text-align: center;
    outline: none;

    &::placeholder {
      color: #c4c4c4;
      font-size: 12px;
    }
  }

  &__button {
    @include mixin.button;
  }
}
