@forward "src/styles/fonts.scss";
@use "src/utils/styles/mediaQuery" as media;

$default: #222222;
$active: #ff7f23;
$passive: #c4c4c4;

@mixin font-title($margin-bottom) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: $margin-bottom;

  @include media.media-breakpoint-down(mobile) {
    font-weight: 500;
    font-size: 14px;
  }
}

@mixin font-medium {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

@mixin template {
  width: 100vw;
  min-height: 100vh;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media.media-breakpoint-up(mobile) {
    max-width: 767px;
    margin: 0 auto;
  }

  @include media.media-breakpoint-down(mobile) {
    height: 500px;
  }
}

@mixin button {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 368px;
  height: 40px;
  background: $active;
  border: none;
  appearance: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: white;
  cursor: pointer;

  &[disabled] {
    background-color: $passive;
    cursor: default;
  }

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
  }
}

body {
  @include media.media-breakpoint-down(mobile) {
    min-width: 320px;
  }
}

.template {
  @include template;
}

.container {
  height: 590px;
  position: relative;

  @include media.media-breakpoint-down(mobile) {
    width: 227px;
    height: 500px;
    margin: auto;
  }
}

.terms-of-service {
  width: 368px;
  color: $default;
  margin-top: 95px;

  @include media.media-breakpoint-down(mobile) {
    margin-top: 48px;
    width: 100%;
  }

  &__submit {
    @include button;
  }

  &__title {
    @include font-title(38px);

    @include media.media-breakpoint-down(mobile) {
      min-width: 100%;
    }
  }
}

.checkbox__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}

details[open] > summary:first-of-type {
  .checkbox__icon {
    transform: rotate(180deg);
  }
}

.checkbox {
  display: flex;
  margin-bottom: 25px;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
  }

  &__entire {
    @include font-medium;
  }

  &__detail {
    @include media.media-breakpoint-down(mobile) {
      width: 227px;
    }
  }

  &__summary {
    @include font-medium;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
    }

    display: flex;
    position: relative;
    align-items: center;
    width: 373px;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__summary-text {
    width: 100%;
  }

  &__input {
    cursor: pointer;
    appearance: none;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid #c4c4c4;
    margin-right: 8px;

    &:checked {
      background: $active;
    }
  }

  &__info {
    width: 320px;
    height: 43px;
    margin-top: 16px;
    border: 1px solid #c4c4c4;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
    line-height: 15px;
    padding: 16px 26px 26px 16px;
    white-space: pre-line;

    @include media.media-breakpoint-down(mobile) {
      width: 226px;
      padding: 16px 8px;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: none;
      margin: 10px 8px 10px 0;
      max-height: 100px;
    }

    &::-webkit-scrollbar-thumb {
      width: 2px;
      border-radius: 3px;
      border: 2px solid #c4c4c4;
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }

    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }
}
