$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;
$disabled: #c4c4c4;

.container {
  width: calc(100vw - 100px);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 100px;

  @media (max-width: 576px) { // 모바일 브레이크 포인트
    width: 100vw;
    margin-left: 0;
  }
}

.box {
  width: 947px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 1148px) { // 메뉴 이동 브레이크 포인트
    width: 720px;
    margin-left: 0;
  }

  @media (max-width: 822px) {
    width: calc(100vw - 100px);
  }

  @media (max-width: 576px) { // 모바일 브레이크 포인트
    width: 100%;
  }
}

.menu {
  width: 227px;
  height: 100%;

  @media (max-width: 1148px) {
    display: none;
  }

  &__title {
    color: $highlight;
    font-size: 32px;
    font-weight: 700;
    margin: 160px 0 52px;
    cursor: pointer;
  }

  &__select {
    padding-top: 17px;
    margin-left: 16px;
  }


    &--inquire {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 152px;
      height: 39px;
      background: $highlight;
      border: none;
      appearance: none;
      border-radius: 20px;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      color: white;
      cursor: pointer;
      box-shadow: 2px 3px 12px 1px rgba(0 0 0 / 10%);
      margin-top: 48px;

      & > :first-child {
        margin-right: 5px;
      }

      // @include media.media-breakpoint-down(mobile) {
      //   width: 100%;
      // }
    }
  }
}

.data {
  width: 720px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }

  &__search-bar {
    width: 100%;
    height: 252px;
    border-bottom: 1px solid $highlight;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 2;

    @media (max-width: 576px) { // 모바일 브레이크 포인트, 디자인 변경
      background: none;
      border-bottom: none;
      height: 0;
      align-items: center;
    }

    &--component {
      margin-top: 152px;

      @media (max-width: 576px) { // 모바일 브레이크 포인트, 디자인 변경
        margin-top: 0;
        position: fixed;
        top: 24px;
        z-index: 1;
      }
    }
  }

  &__data-table {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 253px);

    @media (max-width: 576px) { // 사이드 네비 브레이크 포인트에 따른 height 변경
      height: calc(100vh - 80px);
    }

    &--component {
      overflow-y: auto;
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar:hover {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $highlight;
  border-radius: 8px;
}
