@use "src/utils/styles/mediaQuery.scss" as media;

$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;
$disabled: #c4c4c4;

.container {
  width: calc(100vw - 100px);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 100px;

  @include media.media-breakpoint-down(mobile) {
    width: 100vw;
    margin-left: 0;
  }
}

.inner-container {
  width: 947px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 1148px) {
    width: 720px;
    margin-left: 0;
  }

  @media (max-width: 822px) {
    width: calc(100vw - 100px);
  }

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
  }
}

.menu {
  width: 227px;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &:visited {
    color: none;
  }

  @media (max-width: 1148px) {
    display: none;
  }

  &__item {
    display: flex;
  }

  &__link {
    text-decoration: none;

    &:visited {
      color: currentcolor;
    }
  }

  &__title {
    margin: 160px 0 69px;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 32px;
    font-weight: 700;
    color: $highlight;
    cursor: pointer;
  }

  &__select {
    margin-bottom: 24px;
    margin-left: 16px;
  }

  &__inquire {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 39px;
    background: $highlight;
    border: none;
    appearance: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 3px 12px 1px rgba(0 0 0 / 10%);
    margin-top: 48px;

    & > :first-child {
      margin-right: 5px;
    }
  }
}

.content-box {
  width: 720px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
  }
}

.search-bar {
  width: 100%;
  height: 252px;
  border-bottom: 1px solid $highlight;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 2;

  @include media.media-breakpoint-down(mobile) {
    background: transparent;
    border-bottom: none;
    height: 0;
    align-items: center;
  }

  &__item {
    margin-top: 152px;

    @include media.media-breakpoint-down(mobile) {
      margin-top: 0;
      position: fixed;
      top: 24px;
      z-index: 1;
    }
  }
}

.inquiry-list {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 253px);

  @include media.media-breakpoint-down(mobile) {
    height: calc(100vh - 80px);
  }

  &__item {
    overflow-y: auto;
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar:hover {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $highlight;
  border-radius: 8px;
}
