$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;
$disabled: #c4c4c4;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
  display: flex;
  flex-direction: row;
  width: 947px;
}

.nav {
  & > *{
    position: fixed;
  }

  &__side-navigation {
    width: 227px;
    height: 100%;
  }

  &__title {
    color: $highlight;
    font-size: 32px;
    font-weight: 700;
    margin: 160px 0 52px 0;
    cursor: pointer;
  }

  &__link {
    padding-top: 17px;
    margin-left: 16px;

    & > * {
      width: 104px;
      margin-bottom: 24px;
      position: relative;
    }

    &-inquire {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 152px;
      height: 39px;
      background: $highlight;
      border: none;
      appearance: none;
      border-radius: 20px;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      color: white;
      cursor: pointer;
      box-shadow: 2px 3px 12px 1px rgba(0 0 0 / 10%);
      margin-top: 48px;

      &>:first-child {
        margin-right: 5px;
      }

      // @include media.media-breakpoint-down(mobile) {
      //   width: 100%;
      // }
    }
  }
}

.link-no-underline {
  text-decoration: none;
  color: $normal;
}

.selected{
  color: $highlight;
}

.dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
}

.searchData {
  width: 720px;
  display: flex;
  flex-direction: column;
}

.searchBar {
  border-bottom: 1px solid $highlight;
  width: 720px;
  height: 252px;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.data {
  width: 720px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  // &::before {    // dataTable 스크롤 시 linear-gradient 생성
  //   content: "";
  //   display: none;
  //   position: absolute;
  //   top: 0;
  //   height: 66px;
  //   width: 100%;
  //   background: linear-gradient(to bottom, rgba(85, 85, 85, 0.5), transparent);
  //   z-index: 2;
  // }

  // &.scrolled::before {
  //   display: block;
  // }

  &__data-table {
    width: 720px;
    height: calc(100vh - 333px);
    overflow-y: auto;
  }
}

.loader {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
