.wysiwygContainer {
  height: 100%;
  width: 100%;
}

.auto-height {
  height: 100% !important;
}

.toastui-editor-defaultUI {
  border: none !important;
  width: 100%;
  height: 100% !important;
}

.toastui-editor-contents {
  font-family:
    SUIT,
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 12px;
}

.toastui-editor-contents::-webkit-scrollbar {
  background: none;
  width: 2px;
}

.toastui-editor-contents::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

.toastui-editor-toolbar {
  display: none;
}

.toastui-editor-mode-switch {
  display: none !important;
}

.ProseMirror {
  padding: 0 !important;
}

.buttonEx {
  position: absolute;
  left: 0;
  top: 50%;
}
