.container {
  display: flex;
  align-items: center;
  gap: 5vw;
  height: 10vh;
  width: 90vw;
  border-bottom: 1px solid #eeeeee;
  padding-left: 5vw;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
  background-color: white;
}