@use "src/utils/styles/mediaQuery.scss" as media;

.search-nav {
  display: flex;
  padding-left: 17px;
  align-items: center;

  &__button {
    &--previous {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      background: none;
      border: none;
    }
  }

  &__text {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;

    @include media.media-breakpoint-down(mobile) {
      font-size: 18px;
      font-weight: 500;
      padding-left: 16px;
    }
  }
}
