@use "src/utils/styles/mediaQuery";

@keyframes slide-out {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 0;
  }
}

.side-navigation {
  background-color: #ffffff;
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: #c4c4c4 solid 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;

  &__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;

    &--clicked {
      background-color: #fff1e8;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #666666;
  }

  &__button {
    border: none;
    background-color: transparent;
    width: 100px;
  }

  &__login {
    position: relative;
    bottom: 0;
  }
}

.bottom-navigation {
  display: flex;
  background-color: #ffffff;
  height: 100px;
  justify-content: center;
  align-items: center;
  list-style: none;

  &__link {
    text-decoration: none;
    color: #666666;
  }
}
