@use "src/utils/styles/mediaQuery.scss" as media;

.item {
  position: relative;
  text-decoration: none;
}

.container {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: column;
  height: 200px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 1px 1px 20px rgb(0 0 0 / 25%);

  @include media.media-breakpoint-down(mobile) {
    width: 90vw;
    height: 20px;
    box-shadow: none;
    justify-content: space-between;
    flex-direction: row;
  }
}

.image {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  position: relative;
}

.cover {
  width: 150px;
  height: 200px;
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
  top: 0;
  border-radius: 10px;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  &__delete {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  padding: 0 16px;
  overflow: hidden;

  &__category {
    color: #979797;
    font-size: 14px;
  }

  &__name {
    font-weight: bold;
    overflow: hidden;
    color: black;
    font-size: 16px;
  }

  @include media.media-breakpoint-down(mobile) {
    flex-direction: row;
    justify-content: start;
  }
}

.delete {
  color: #898a8d;
  cursor: pointer;
}
