@use "src/utils/styles/mediaQuery.scss" as media;

.container {
  position: relative;
  text-decoration: none;
}

.card {
  position: relative;
  width: 155px;
  height: 220px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 1px 1px 20px rgb(0 0 0 / 25%);

  &__image {
    width: 155px;
    height: 155px;
    border-radius: 4px;
    position: relative;

    &--empty {
      display: flex;
      color: #979797;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 600px;
      border-radius: 10px;
      position: relative;
    }
  }

  @include media.media-breakpoint-down(mobile) {
    width: 90vw;
    height: 33px;
    box-shadow: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  padding: 0 10px;
  overflow: hidden;

  &__category {
    color: #979797;
    font-size: 14px;
  }

  &__name {
    overflow: hidden;
    padding-left: 3px;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }

  @include media.media-breakpoint-down(mobile) {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
  }
}

.cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34 34 34 / 30%);
  border-radius: 4px;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  &__delete {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }

  @include media.media-breakpoint-down(mobile) {
    position: static;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    opacity: 1;

    &:hover {
      background-color: #eeeeee;
    }

    &__delete {
      position: static;
      width: 100%;
      height: 100%;
      color: #898a8d;
      cursor: pointer;
    }
  }
}
