$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;

.block {
  &__body {
    border-bottom: 1px solid #eeeeee;
    padding: 16px 10px;
    height: auto;
    max-height: 97px;
    overflow: hidden;
    transition: height 0.7s ease-in-out;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;

    &:hover {
      background-color: #f0f0f0;
    }

    &.expanded {
      height: auto;
      max-height: 1000px;
    }

    &-extender {
      position: absolute;
      top: 14px;
      right: 20px;

      & > * {
        transition: transform 0.15s ease-in-out;
      }
    }
  }

  &__title {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 8px 0;
    padding: 0;
  }

  &__info {
    font-size: 14px;
    color: $normal;
    margin-top: 0;
  }

  &__answerBox {
    width: 100%;
    height: auto;
    max-height: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
    border-radius: 3px;
    margin-top: 8px;
    padding: 16px;
    font-size: 16px;

    &-noAnswer {
      opacity: 0.3;
    }
  }
}

.noData {
  color: $normal;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}
