$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;

.body {
  &__list {
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    max-height: 97px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: start;

    p {
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    span {
      font-size: 14px;
      color: $normal;
      margin-top: 4px;
    }
  }
}
