$default: #222222;
$highlight: #ff7f23;
$back: white;
$normal: #666666;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1048px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  margin: 95px auto 169px;
  width: 1048px;
  justify-content: space-between;
  cursor: pointer;

  &__search-block {
    display: flex;
    height: 33px;
    font-size: 14px;
  }

  &__button {
    background: $highlight;
    border-radius: 5px;
    border-style: none;
    color: $back;
    width: 57px;
    font-size: 14px;
    padding: 5px 7px;
    margin-left: 10px;
    cursor: pointer;
  }

  &__input {
    width: 234px;
    border-color: #c4c4c4;
    border-radius: 5px;
    color: #c4c4c4;
    padding: 8px 24px;
    border: solid;
  }

  &__post-button {
    display: flex;
    justify-content: center;
    width: 90px;
    height: 33px;
    background-color: #ff7f23;
    color: #eeeeee;
    align-items: center;
    border-radius: 5px;
  }

  &__post {
    margin: 8px 0 8px 8.5px;
  }

  &__post-svg {
    width: 17.02px;
    color: $highlight;
    background-color: $highlight;
    margin: 7.47px 8.5px 7.47px 4px;
    cursor: pointer;
  }
}
