.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #ff7f23;
  }

  &__description {
    color: #979797;
    font-size: 18px;
  }

  &__button {
    color: #666;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: #f9f9f9;
  }
}
