@use "src/utils/styles/mediaQuery.scss" as media;

.container {
  width: calc(100vw - 100px);
  height: 100dvh;
  padding: 16px;

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
  }
}

.details {
  max-width: 875px;
  margin-top: 135px;
  display: flex;
  flex-direction: column;

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
    padding: 0;
  }

  &__search {
    position: sticky;
    top: 16px;
  }

  &__shade {
    position: fixed;
    top: 0px;
    width: calc(100vw - 100px);
    height: 78px;
    padding-top: auto;
    background-color: white;
  }

  &__input {
    @include media.media-breakpoint-down(mobile) {
      position: sticky;
      top: 40px;
    }
  }

  &__suggestions {
    position: absolute;
    top: 62px;
    width: 100%;
    z-index: 1;
  }

  &__result {
    display: flex;
    font-size: 18px;
    color: #ff7f23;
    padding: 32px 0 33px 16px;

    @include media.media-breakpoint-down(mobile) {
      font-size: 16px;
      font-weight: 500;
      padding-left: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
    }
  }
}
