@use "src/utils/styles/mediaQuery.scss" as media;

.controller {
  display: flex;
  position: relative;
  padding-left: 17px;
  padding-top: 24px;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    padding-top: 44px;
  }
}

.icon__head {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: 0 0 3px 0.5px rgb(0 0 0 / 25%);
  background-color: white;
}

.icon__middle {
  right: 12px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: 0 0 3px 0.5px rgb(0 0 0 / 25%);
  background-color: white;
}

.icon__tail {
  right: 24px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: 0 0 3px 0.5px rgb(0 0 0 / 25%);
  background-color: white;
}

// 체크 박스
.container {
  display: block;
  position: relative;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 18px;
}

.container .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  border: 1px solid #999999;
  border-radius: 3px;
}

.container:hover .checkbox ~ .checkmark {
  background-color: #ccc;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.container .checkbox:checked ~ .checkmark {
  background-color: #ffd25d;
}

.container .checkbox:checked ~ .checkmark::after {
  display: block;
}

.details {
  height: 100vh;
  margin: 0 auto;
  max-width: 1152px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
  }
}

// 검색 결과 로딩 화면
.loading {
  text-align: center;
  width: 100%;
  line-height: 70vh;
  margin: 0 auto;
  font-size: 20px;
}

// 검색 아이템
.item {
  display: flex;
  gap: 24px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  background-color: white;
  padding: 24px 31px 24px 17px;
  font-size: 16px;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: #eeeeee;
  }

  .image {
    display: flex;
    cursor: pointer;

    &__main {
      width: 230px;
      height: 230px;
    } 

    &__other {
      display: flex;
      flex-direction: column;
      padding-left: 4px;

      &--second {
        width: 77px;
        height: 77px;
      }

      &--third {
        width: 77px;
        height: 76px;
      }

      &--fourth {
        width: 77px;
        height: 77px;
      }
    }
  }

  &__title {
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
  }

  &__address {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
    line-height: 15px;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__status {
    padding-top: 93px;

    &--open {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #ff7f23;
    }

    &--closed {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #c4c4c4;
    }
  } 

  &__closing {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
  }

  &__distance {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    padding-top: 4px;
  }

  &__phone {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    white-space: pre-wrap;
    padding-top: 20px;
    text-decoration: none;
    color: black;
  }

  &__map {
    cursor: pointer;
    align-self: center;
    margin-top: 34px;
  }

  @include media.media-breakpoint-down(mobile) {
    width: 700px;
  }
}

.slider {
  position: fixed;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 8px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: calc(100% - 32px);
  background-color: white;
}

.map__naver {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: #03c75a;
  border-radius: 30px;
  font-size: 16px;
  color: #ffffff;
}

.map__kakao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: #fee500;
  border-radius: 30px;
  font-size: 16px;
  color: #222222;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: #eeeeee;
  border-radius: 30px;
  font-size: 16px;
  color: #222222;
}
