@use "src/utils/styles/mediaQuery" as media;
@use "../Mixin.module.scss" as mixin;

$active: #ff7f23;
$passive: #c4c4c4;
$input-background: #eeeeee;

body {
  @include media.media-breakpoint-down(mobile) {
    min-width: 320px;
  }
}

@mixin error-outline() {
  border: 1px solid $active;
}

.template {
  @include mixin.template;
}

.container {
  width: 368px;
  height: 648px;
  position: relative;

  @include media.media-breakpoint-down(mobile) {
    width: 227px;
    height: 500px;
    margin: auto;
  }
}

.form {
  margin-top: 128px;

  @include media.media-breakpoint-down(mobile) {
    width: 100%;
    margin-top: 64px;
    padding-top: 32px;
    position: relative;
    height: 415px;
  }

  &__title {
    @include mixin.font-title(40px);

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__form {
    margin-bottom: 24px;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
      height: 57px;
      margin-bottom: 16px;
    }
  }

  &__blind-icon {
    position: absolute;
    right: 10px;
    bottom: 5px;

    @include media.media-breakpoint-down(mobile) {
      bottom: 6px;
      right: 12px;
      width: 16px;
      height: 16px;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    padding: 5px;
    width: 408px;

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__error-icon {
    display: none;

    &--active {
      display: inline-block;
      padding: 0 10px;

      @include media.media-breakpoint-down(mobile) {
        width: 16px;
        height: 16px;
        padding: 0 8px;
      }
    }
  }

  &__input {
    width: 356px;
    height: 13px;
    padding: 7px 0 8px 12px;
    outline: none;
    background: $input-background;
    border-radius: 20px;
    border: 1px solid $input-background;
    font-size: 12px;
    color: #222222;
    position: relative;

    @include media.media-breakpoint-down(mobile) {
      width: 213px;
      height: 13px;
      padding: 8px 0 7px 11px;
    }

    // chrome 자동완성 background 제거
    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px $input-background inset;
    }

    &::placeholder {
      font-size: 12px;
      color: #c4c4c4;
    }

    &--id {
      width: 290px;

      @include media.media-breakpoint-down(mobile) {
        width: 215px;
      }
    }

    &--email {
      width: 156px;

      @include media.media-breakpoint-down(mobile) {
        width: 215px;
      }
    }

    &--error {
      @include error-outline;
    }
  }

  &__error {
    font-size: 11px;
    color: $active;
    display: inline-block;

    @include media.media-breakpoint-down(mobile) {
      font-size: 11px;
      position: absolute;
      top: 0;
      display: flex;
    }
  }

  &__id-check-button {
    background: $passive;
    border: 1px solid $passive;
    border-radius: 22px;
    width: 96px;
    height: 30px;
    position: absolute;
    right: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    outline: none;

    @include media.media-breakpoint-down(mobile) {
      width: 61px;
      height: 30px;
      bottom: 0;
    }

    &--active {
      background: $active;
    }

    &--error {
      background: #ffffff;
      border: 1px solid $active;
      color: $active;
      font-weight: 400;
    }
  }

  &__select {
    width: 169px;
    height: 30px;
    background: $input-background;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 7px 0 8px 12px;
    font-size: 12px;
    appearance: none;
    position: relative;

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }

    &--error {
      @include error-outline;
    }
  }

  &__option {
    background: #ffffff;
    border: 1px solid $input-background;
    border-radius: 15px;
    padding: 4px 12px;

    &:hover {
      background: $input-background;
      border-radius: 15px;
    }
  }

  &__arrow-icon {
    position: absolute;
    right: 10px;
    bottom: 5px;

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__email-sign {
    display: inline;
    font-size: 14px;
    color: #999999;
    padding: 0 7px;

    @include media.media-breakpoint-down(mobile) {
      display: none;
    }
  }

  &__button {
    @include mixin.button;
  }
}
