@use "src/utils/styles/mediaQuery" as media;
$default: #222222;
$active: #ff7f23;
$passive: #c4c4c4;


.template {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  width: 368px;
  margin-top: 80px;
  margin-bottom: 20px;

  @include media.media-breakpoint-down(mobile) {
    width: 216px;
  }
}

.navbar {
  position: absolute;
  height: 80px;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #eeeeee;
}

.detail {
  margin: 50px 0;

  &__title {
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    color: #ff7f23;
    padding-bottom: 10px;
  }

  &__text {
    margin: 8px 0;
    white-space: pre;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: $default;
  }

  &__nickname {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}

// .form {
//   &__button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 368px;
//     height: 44px;
//     background: $active;
//     border: none;
//     appearance: none;
//     border-radius: 20px;
//     font-weight: 700;
//     font-size: 16px;
//     text-decoration: none;
//     color: white;
//     cursor: pointer;
//     margin: 12px 0 62px;

//     &[disabled] {
//       background-color: $passive;
//       cursor: default;
//     }

//     @include media.media-breakpoint-down(mobile) {
//       width: 184px;
//       position: relative;
//     }
//   }
// }

.checkbox {
  display: flex;
  flex-direction: column;
  color: $default;

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  &__input {
    margin: 8px 0;
  }
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid $default;
  appearance: none;
  cursor: pointer;
  transition: background 0.2s;
  margin: 0 5px;
}

input[type="checkbox"]:checked {
  background: $active;
  border: none;
}