@use "src/utils/styles/mediaQuery" as media;

.layout {
  display: grid;
  grid-template-rows: 150px 1fr;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.page__caution {
  margin-right: 5px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  grid-row-start: 2;
}

.page__back {
  padding-bottom: 10px;

  @include media.media-breakpoint-down(mobile) {
    display: none;
  }
}

.page__quote {
  font-size: 18px;
  font-weight: 500;
  width: 240px;
  line-height: 22px;
}

.page__error {
  display: flex;
  align-items: center;
  color: #ff7f23;
  height: 100px;
  font-size: 12px;
}

.form__input {
  border: 1px solid #eeeeee;
  border-radius: 100px;
  width: 220px;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eeeeee;
}

.input_style_radius {
  border: 1px solid #ff7f23;
  border-radius: 100px;
  width: 220px;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eeeeee;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.form__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__label {
  padding-left: 10px;
  padding-bottom: 5px;
}

.inactive {
  border: none;
  border-radius: 100px;
  width: 250px;
  height: 40px;
  color: white;
  background-color: #c4c4c4;
}

.active {
  border: none;
  border-radius: 100px;
  width: 250px;
  height: 40px;
  color: white;
  background-color: #ff7f23;

  cursor: pointer;
}
