.board {
  width: 100%;
  height: calc(100vh - 228px);
  overflow-y: scroll;
}

.total {
  display: block;
  width: 91%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #ff7f23;
  line-height: 20px;
}

.post {
  width: 91%;
  margin: 0 auto;
  margin-top: 16px;

  &__store {
    display: flex;
    justify-content: space-between;
  }

  &__opener {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    justify-content: center;
  }
}

.store {
  display: flex;
  margin-bottom: 8px;
  align-items: end;
  gap: 4px;

  &__name {
    font-size: 18px;
    font-weight: 700;
  }

  &__type {
    font-size: 12px;
    font-weight: 500;
    color: #c4c4c4;
  }
}

.underline {
  border-bottom: 3px solid #eeeeee;
}

.review {
  display: flex;
  align-items: center;

  &__main-text {
    font-size: 14px;
    line-height: 17.47px;
    margin-bottom: 8px;
  }

  &__detail {
    display: flex;
    gap: 4px;
    font-size: 14px;
    color: #666666;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
  }
}

.star-rate {
  display: flex;
  align-items: center;

  &__image {
    width: 17px;
    height: 17px;
  }

  &__rate {
    font-size: 14px;
  }
}
