
.search {
  width: 375px;
  height: 812px;
  font-size: 32px;
}

.search-header { 
  display: flex;
  margin-top: 72px;
  margin-left: 30px;
  
  &__text {
    font-size: 18px;
    width: 32px;
    height: 22px;
    padding-left: 16px;
  }

  &__previous-icon {
    width: 7px;
    height: 14px;
    
  }

  &__previous-button {
    cursor: pointer;
    background: none;
    border: none;
    width: 20px;
    height: 20px;

  }
}


.search-recommend {
  width: 285px;
  height: 80px;
  margin-left: 30px;
  margin-top:64px;
  font-size: 32px;
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  white-space: pre-wrap;

  color: #000000;
}

// search-bar

.search-bar {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: none;
  width: 343px;
  height: 30px;
  align-items: center;
  margin-top: 32px;
  margin-left: 16px;
  background: #EEEEEE;  
  border-radius: 100px;

  &__input {
    width: 100%;
    height: 15px;
    border: none;
    background: none;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin-left: 11px;
    &::placeholder {
      color:#C4C4C4;
      font-size: 12px;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    padding-right: 14px;
  }
}

// search-recommend-bar__wrapper

.search-recommend-bar__wrapper { 
  display: flex;
  flex-direction: column;

  h1 {
    order: 0;
  }
  div {
    order: 1;
  }
  div:focus + h1{
    display: none;

  }
}

// search-trend
// search-trend__tag-list__tag

.search-trend {  
  display: flex;
  width: 321px;
  margin-left: 27px;
  margin-top:8px;
  height: 15px;
  font-size: 12px;

  strong {
    padding-right: 16px;
  }
  &__tag-list--wrapper {
  }

  &__tag-list {
    width: 240px;
    display: flex;
    flex:0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    gap:8px;
    list-style: none;

    &__tag {
      animation: textLoop 10s linear infinite;
      padding-right: 1.4881vw;
    }

    @keyframes textLoop {
      0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    }

  }


  
}



// searh result list

.search-list {
  margin-top:24px;

  &__item {
    display: flex;
    font-size: 14px;
    width: 375px;
    height: 34px;
    padding-left: 52px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: #EEEEEE;  

    }
  }
}
