@use "src/utils/styles/mediaQuery.scss" as media;

.scrap-button {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 16px;
  color: #666;
  transition: all 0.2s ease;

  &--active {
    background: #ff7f23;
    color: #fff;
  }

  @include media.media-breakpoint-down(mobile) {
    flex-direction: column;
    gap: 5px;
    background: none;
  }
}
