// label태그
.signup-profileImg-label {
  margin: 5px 0 20px;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
  background-color: pink;
}

// input태그
.form-signup input[type="file"] {
  display: none;
}

.getImage {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 2;
  background-color: white;
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 50px;
  box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 10%);

  &__image {
  display: flex;
  }
}

.input {
  display: none;
}

.preview {
  display: flex;
  border-radius: 10px;
}