@use "src/utils/styles/mediaQuery" as media;

@keyframes show-out {
  from {
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.button {
  z-index: 10;
  position: relative;
}

.filter {
  position: absolute;
  right: 0;
  bottom: -120px;
  list-style: none;

  &__button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 142px;
    height: 44px;
    background-color: #f6bf54;
    border-radius: 22px;
    border: none;
    margin-top: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }

  @include media.media-breakpoint-down(mobile) {
    bottom: -35px;

    &__button {
      width: 26px;
      height: 26px;
      border-radius: 50%;

      span {
        display: none;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__menu-list {
    position: absolute;
    bottom: 200px;
    right: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    @include media.media-breakpoint-down(mobile) {
      bottom: 100px;
      right: 20px;
    }

    &--show {
      width: 340px;

      .slide-filter-list {
        :nth-child(n) {
          animation: show-out 0.2s ease-out normal forwards;
        }
      }
    }

    .slide-filter-list {
      visibility: hidden;
      justify-content: center;
      display: flex;

      ul {
        list-style: none;
      }

      li {
        display: flex;
        margin-top: 8px;
      }

      &__button {
        width: 142px;
        height: 40px;
        border-radius: 20px;
        box-sizing: border-box;
        border: 1px solid #f6bf54;
        background-color: #ffffff;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        @include media.media-breakpoint-down(mobile) {
          width: 109px;
          height: 26px;
          font-size: 11px;
          font-weight: 400;
          margin-right: 7px;
        }
      }

      &__icon {
        display: none;

        @include media.media-breakpoint-down(mobile) {
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background-color: #f6bf54;
          border: 1px solid #f6bf54;
        }
      }
    }
  }
}
