@use "src/utils/styles/mediaQuery.scss" as media;

.follower {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 1150px;
  margin-top: 39px;
  margin-bottom: 39px;

  @include media.media-breakpoint-down(mobile) {
    width: 85vw;
  }

  &__image {
    width: 112px;
    height: 112px;

    @include media.media-breakpoint-down(mobile) {
      width: 60px;
      height: 60px;
    }
  }

  &__content {
    width: 720px;
    padding-left: 60px;

    @include media.media-breakpoint-down(mobile) {
      width: 200px;
      overflow-x: hidden;
    }

    &--font {
      font-size: 30px;
      border: none;
      background-color: #ffffff;
    }
  }

  &__button {
    border: none;
    width: 175px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;

    @include media.media-breakpoint-down(mobile) {
      width: 100px;
    }

    &--cancel {
      width: 175px;
      height: 49px;
      border-radius: 10px;
      background-color: white;
      border: 1px solid #c4c4c4;
      color: #c4c4c4;
      cursor: pointer;

      @include media.media-breakpoint-down(mobile) {
        width: 100px;
      }
    }

    &--accept {
      width: 175px;
      height: 49px;
      border-radius: 10px;
      background-color: white;
      border: 1px solid #f6bf54;
      color: #f6bf54;
      cursor: pointer;
    }
  }
}
