.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 39px;

  &__profile {
    border: 2px solid #FF7F23;
    border-radius: 60px;
    width: 112px;
    height: 112px;
  }

  &__nickname {
    width: 100px;
    height: 20px;
    overflow-y: hidden;
  }

  &__nickname::-webkit-scrollbar {
    display: none;
  }
}