@use "src/utils/styles/mediaQuery.scss" as media;

.list {
  display: flex;
  width: 875px;
  height: 230px;
  gap: 20px;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    flex-direction: column;
    width: 90vw;
    align-items: baseline;
    gap: 10px;
  }
}

.title {
  width: 875px;
  display: flex;
  justify-content: space-between;

  @include media.media-breakpoint-down(mobile) {
    width: 90vw;
  }
}