/* stylelint-disable value-list-comma-newline-after */
/* stylelint-disable declaration-colon-newline-after */
@forward "src/styles/fonts.scss";
@use "src/utils/styles/mediaQuery" as media;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: SUIT, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  @include media.media-breakpoint-down(mobile) {
    min-width: 320px;
    height: 100dvh;
  }
}

button {
  font-family: SUIT, system-ui;
}

input {
  font-family: SUIT, system-ui;

  &::placeholder {
    font-family: SUIT, system-ui;
  }
}
