@forward "src/styles/fonts.scss";
@use "src/utils/styles/mediaQuery" as media;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family:
    SUIT,
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  min-height: 100vh;
  min-width: 1148px;

  @include media.media-breakpoint-down(mobile) {
    min-width: 320px;
  }
}

button {
  font-family: SUIT, system-ui;
}

input {
  font-family: SUIT, system-ui;

  &::placeholder {
    font-family: SUIT, system-ui;
  }
}
