@use "src/utils/styles/mediaQuery" as media;
@use "../Mixin.module.scss" as mixin;

.template {
  @include mixin.template;
}

.container {
  margin-top: 208px;

  @include media.media-breakpoint-down(mobile) {
    margin-top: 0;
  }
}

.form {
  width: 368px;
  height: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
  margin-bottom: 128px;

  @include media.media-breakpoint-down(mobile) {
    width: 227px;
    height: 301px;
    padding-top: 104px;
    margin: 0;
  }

  &__icon {
    width: 74px;
    height: 75px;
    font-size: 60px;
    margin-bottom: 24px;

    @include media.media-breakpoint-down(mobile) {
      width: 62px;
      height: 63px;
      padding-bottom: 11px;
    }
  }

  &__text {
    white-space: pre;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    @include media.media-breakpoint-down(mobile) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__input {
    margin-top: 32px;
    width: 216px;
    height: 30px;
    background: #eeeeee;
    border-radius: 20px;
    border: none;
    text-align: center;
    outline: none;

    &::placeholder {
      color: #c4c4c4;
      font-size: 12px;
    }
  }

  &__button {
    @include mixin.button;
  }
}
