@use "src/utils/styles/mediaQuery" as media;
@use "../Mixin.module.scss" as mixin;

$default: #222222;
$active: #ff7f23;
$passive: #c4c4c4;

.template {
  @include mixin.template;
}

.container {
  margin-top: 208px;
  margin-bottom: 56px;

  @include media.media-breakpoint-down(mobile) {
    margin-top: 0;
  }
}

.logo {
  width: 100%;

  &__image {
    @include media.media-breakpoint-down(mobile) {
      width: 200px;
      height: auto;
    }
  }
}

.form {
  width: 368px;
  height: 430px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.media-breakpoint-down(mobile) {
    width: 227px;
    height: 301px;
    padding-top: 104px;
    margin: 0;
  }

  &__text {
    white-space: pre;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    @include media.media-breakpoint-down(mobile) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__input {
    margin-top: 32px;
    width: 258px;
    height: 44px;
    background: #eeeeee;
    border-radius: 20px;
    border: none;
    text-align: center;
    outline: none;

    &::placeholder {
      color: #c4c4c4;
      font-size: 12px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 368px;
    height: 40px;
    background: $active;
    border: none;
    appearance: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-top: 50px;

    &[disabled] {
      background-color: $passive;
      cursor: default;
    }

    @include media.media-breakpoint-down(mobile) {
      position: relative;
      margin-top: 73px;
    }
  }
}

.progress {
  display: flex;
  margin: 20px 0;

  &__active {
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7f23;
  }

  &__disable {
    color: #ff7f23;
    font-size: 12px;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff7f23;
  }

  &__line {
    content: "";
    width: 22px;
    height: 0;
    border: 1px solid #ff7f23;
    margin-top: 10.5px;
  }
}

.modal {
  z-index: 999;
  width: 100vw;
  height: 100%;
  background: rgba(34 34 34 / 25%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__message {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__close {
    font-size: 18px;
    color: $passive;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__popup {
    width: 560px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    isolation: isolate;
    background: #ffffff;
    box-shadow: 2px 3px 12px 1px rgba(0 0 0 / 10%);
    border-radius: 45px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 44px;
    background: $active;
    border: none;
    appearance: none;
    border-radius: 999px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 3px 12px 1px rgba(0 0 0 / 10%);

    @include media.media-breakpoint-down(mobile) {
      width: 100%;
    }
  }
}
